/* PC */
@media (min-width: 992px){
    .header-menu-icon, .menu-drawer__close, .menu-drawer{
        display: none;
    }
}

/* Tablet & mobile là những gì mobile và tablet chung */
@media (max-width: 991.98px){
    /* 1. ẩn thanh navbar */
    .header-top__navbar .navbar__list{
        display: none;
    }

    /* 2. chuyển logo vào giữa */
    .header-top{
        position: relative;
    }
    .header-top .logo{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* tạo thêm biểu tượng menu */
    .header-menu-icon{
        position: absolute;
        top: 43px;
        left: 26px;
        color: #FFF;
        width: 24px;
    }
    /* 4. overlay */
    .menu-overlay{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        /* cách 0 ở 4 hướng */
        inset: 0;
        /* để cho nó nằm trên hết các phần từ khác (ảnh, video...) */
        z-index: 1;
        /* làm sáng lại nhưng không click vào được các phần tử ngoài */
        /* opacity: 0; */
        /* làm cho có thể click ở ngoài */
        visibility: hidden;
        transition: 0.5s;
    }
    .checkbox-menu:checked ~ .menu-overlay{
        /* opacity: 1; */
        visibility: visible;
    }
    .menu-drawer{
        position: fixed;
        inset: 0% 40% 0% 0%;
        background-color: #2e1919;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s ease-in-out;
    }
    .checkbox-menu:checked ~ .menu-drawer{
        transform: translateX(0%);
    }
    /* xóa gạch chân dưới các navbar_link*/
    a{
        text-decoration: none;
    }
    .navbar__item .navbar__link{
        display: block;
        text-align: left;
    }
    .navbar__link:hover{
        background-color: #00ffff37;
    }
    /* xóa dấu chấm đầu dòng thẻ ul */
    .navbar__item{
        list-style-type: none;
    }
    /* điều chỉnh menu top (logo và close-icon) */
    .menu-drawer__top{
        display: flex;
        padding: 24px;
        justify-content: space-between;
        align-items: center;
    }
    .menu-drawer__close{
        width: 24px;
        color: #FFF;
    }
    /* điều chỉnh thanh navbar_sub (dropdown) */
    /* điều chỉnh lại màu nền và căn vị trí khối sub cho hợp lý */
    .navbar__sub{
        display: none;
        background-color: #2e1919;
        margin-left: 20px;
        width: 100%;
    }
    /* nếu chiều rộng của khối sub vượt quá khối .menu-drawer thì ẩn đi */
    #menu-navbar--mobile-tablet{
        overflow: hidden;
        padding-left: 3px;
        padding-top: 16px;
    }
    /* đưa chữ về lại màu trắng */
    .navbar__sub--item{
        color: #FFF;
    }
    /* đổi lại hiệu ứng khi hover vào của các HOME 01 02 03 04 */
    .navbar__sub--item:hover{
        background-color: #00ffff37;
        color: #FFF;
    }
    /* khi hover vảo mũi tên thì sổ xuống */
    .navbar__item--has-child:hover .navbar__sub
    {
        position: static;
    }
    /* chỉnh lại nút mũi tên */
    .fa-sort-down{
        top: 9px;
        left: calc(100% - 42px);
        cursor: pointer;
    }
    /* hero */
    .header-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    }
    .header-hero__content{
    width: 74%;
    margin-top: 76px;
    margin-bottom: 76px;
    text-align: center;
    order: 2;
    }
    .hero__action{
    margin-top: 38px;
    display: block;
    }
    .header-hero__media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 76px;
    width: 84%;
    order: 1;
    }
    .header__image--large {
        width: 330px;
        height: 540px;
        z-index: 1;
    }
    .header__image--small {
        width: 210px;
        height: 410px;
        margin-left: -6px;
    }
    .content-service__item{
        margin-left: 0px;
        margin-top: 55px;
        text-align: center;
        width: 80%;
    }
    .service-item__infor{
        text-align: start;
    }
    /* service */
    .content-service{
        flex-direction: column;
    }
    .content-service__image{
        width: 100%;
        /* chỉ có display: block mới áp dụng được margin: 0 auto nên khi có cái nào ko dùng dc margin 0 auto để căn giữa thì 
        chắc chắn đó là thẻ img (inline) hoặc thẻ a (có thể căn bằng dùng text-align: center;) */
        display: block;
        margin: 0 auto;
    }
    .service-item__desc{
        width: 100%;
    }
    .content-service__figure{
        width: 80%;
    }

    /* work */
    .work-head{
        text-align: center;
    }
    .work-head__desc {
        width: 50%;
        margin: 18px auto 0
    }
    .work-list-item{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 42px;
    }
    .work-item__content {
        margin: 28px 28px;
    }
    /* about */
    .about {
        margin: 70px 0px;
    }
    .about-content{
        flex-direction: column;
    }
    .about-media__pic-small{
        display: none;
    }
    .about-media__pic-large {
        width: 90%;
        height: 80%;
        display: block;
        margin: 0 auto;
    }
    .about-media{
        width: 100%;
    }
    .about-infor{
        margin-top: 70px;
        width: 90%;
        text-align: center;
    }
    /* .our-team */
    .our-team-list {
        margin-top: 60px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }
    .our-team-item__pic {
        margin: 0 auto;
        display: block;
    }
    .our-team-item{
        margin-top: 0px;
    }
    /* .download */
    .download-empty{
        display: none;
    }
    .download-phone__image {
        display: none;
    }
    .download-content-block{
        padding: 70px;
        margin: auto;
    }
    .download-content{
        /* loại bỏ thuộc tính height */
        height: auto;
    }
    .download-heading{
        width: auto;
    }
    /* event */
    .event-content{
        flex-direction: column;
    }
    .event-header{
        order: 2;
    }
    .event-news{
        order: 1;
        width: 70%;
    }
    .event-header {
        width: 90%;
        text-align: center;
        margin-top: 40px;
    }
    /* appointment */
    .appointment-desc {
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px){
    /* .our-team */
    .cta-mobile{
        display: none;
    }
}
/* Mobile */

@media (max-width: 767.98px){
    .cta-mobile{
        display: flex;
        flex-direction: column;
        text-align: start;
        margin: 8px 25px;
        border-top: 1px solid #C9D2DA;
    }
    .action__btn--log-in{
        text-align: start;
        padding: 8px 0px;
    }
    .menu-drawer{
        inset: 0% 35% 0% 0%;
    }
    .header-top__action{
        display: none;
    }
    .header-menu-icon{
        top: 17px;
    }
    .header-top .logo {
        left: 88%;
    }
    .header__image--small{
        display: none;
    }
    .header__image--large {
        width: 100%;
        height: 400px;
    }
    .hero__heading{
        font-size: 4.5rem;
    }
    .header-hero__content {
        width: 80%;
    }
    .action__phone{
        display: block;
        margin-left: 0;
        margin-top: 20px;
    }
    .service {
        padding: 85px 0px;
    }
    .title-service__desc {
        width: 100%;
    }
    .content-service__image {
        height: 350px;
    }
    .content-service__item {
        width: 90%;
    }
    .service__item-list ~ .service__item-list{
        margin-top: 20px;
    }
    .work-item__content {
        margin: 18px;
    }
    .work-head__desc {
        width: 80%;
    }
    .about {
        margin: 100px 0px;
        padding-bottom: 50px;
    }
    .our-team-list{
        grid-template-columns: repeat(1, 1fr);
    }
    .download-content-block{
        padding: 30px;
    }
    .download-heading{
        margin-right: 30px;
        font-size: 4rem;
    }
    .download-desc {
        margin-right: 30px;
    }
    .event{
        margin-bottom: 100px;
    }
    .event-news{
        width: 80%;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }
    .title-heading{
        font-size: 2.5rem;
    }
    .event__read-blog{
        font-size: 16px;
    }
    .event-next .btn--next {
        width: 30px;
        height: 30px;
    }
    .event-next .btn--next-left{
        margin-right: 12px;
    }
    .appointment{
        padding: 75px 15px;
    }
    .title-heading {
        font-size: 3.5rem;
    }
    .download-logo__android {
        display: block;
        margin-bottom: 10px;
    }
    .download-icon{
        width: 135px;
    }
}