*{
    box-sizing: border-box;
}
:root{
    --color-1: #10375C;
    --color-2: #2E80CE;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.header{
    height: 100vh;
    background-color: var(--color-1);
}
.header-top{
    display: flex;
    padding-top: 30px;
    padding-bottom: 8px;
    justify-content: space-between;
    align-items: center;
}
.header a{
    text-decoration: none;
}
.navbar__list{
    display: flex;
}
.navbar__link, .action__btn--log-in{
    color: #C9D2DA;
    padding: 8px 21px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75
}
.navbar__link--active::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    bottom: 2px;
    right: 6px;
}
.navbar__link:hover, .navbar__link--active{
    color: #FFFFFF;
    text-shadow: 1px 0 0 currentColor;
}
/*-------------------navbar-sub-------------------*/
.navbar__item{
    position: relative;
}
.navbar__sub
{
    width: 250px;
    position: absolute;
    background: #fff;
    right: -57px;
    left: 10px;
    top: 30px;
    display: none;
}
.navbar__sub--item{
    display: block;
    padding: 15px;
    color: var(--color-1);
    font-size: 14px;
    font-weight: 500;
    background-color: #fff;
    transition: 0.25s;
}
.navbar__sub--item:hover{
    color: #f04b0d;
    background-color: #e4e0e0;
}
.navbar__sub--item:last-child{
    border-bottom: none;
}
.navbar__item--has-child:hover .navbar__sub{
    display: block;
    -webkit-animation: slide-down 2.1s ease-out; 
    -moz-animation: slide-down 2.5s ease-out; 
}
@-webkit-keyframes slide-down { 
    0% { 
        opacity: 0; 
    } 

    100% { 
        opacity: 1; 
    } 
} 
@-moz-keyframes slide-down { 
    0% { 
        opacity: 0; 
    } 

    100% { 
        opacity: 1; 
    } 
} 
.navbar__item--has-child .navbar__link::after
{
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    content: "\f0d7";
    position: absolute;
    top: -1px;
    right: 0px;
}
/* ---------------------------------------------- */
.btn{
    display: inline-block;
    min-width: 205px;
    /* khi làm button thì nhớ là dùng line-height thay height để nó căn giữa */
    line-height: 60px;
    border-radius: 999px;
    background: var(--color-2);
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: none;
}
.btn:hover{
    opacity: 0.9;
}
.action__btn--sign-up{
    min-width: 104px;
    line-height: 44px;
    margin-left: 7px;
    font-size: 16px;
}
/* HERO */
.header-hero{
    display: flex;
    align-items: center;
}
/* hero-content */
.header-hero__content{
    width: 44%;
    margin-top: 12vh;
}
.hero__heading{
    color: #FFF;
    font-size: 6.5rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}
.hero__desc{
    color: #C9D2DA;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.67;
    margin-top: 22px;
}
.hero__action{
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.action__phone{
    margin-left: 38px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67
}
/* hero-media */
.header-hero__media{
    /* chiếm hết 56% còn lại */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 9.5vh;
}
/* tt bình thường */
.header__image--large{
    width: 50%;
    height: 67.5vh;
    z-index: 1;
}
.header__image--small{
    width: 32%;
    height: 51.25vh;
    margin-left: -6px
}
/* khi hover vào */
/* .header__image--small:hover .header_image--large{
    width: 210px;
    height: 410px;
    margin-right: -6px;
}
.header__image--small:hover{
    width: 50%;
    height: 67.5vh;
} */
.header__image{
    object-fit: cover;
    border-radius: 6px;
}
/* SERVICE */
.service{
    padding: 170px 0;
}
/* title-service */
.title-heading{
    color: var(--color-1);
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}
.title-service__heading{
    text-align: center;
}
.title-desc{
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
.title-service__desc{
    width: 468px;
    /* LƯU Ý: CẦN THÊM MARGIN ĐỂ CĂN CHO KHỐI NÀY RA GIỮA, CHỨ TEXT-ALIGN CHỈ CĂN ĐƯỢC NỘI DUNG TRONG 
    THẺ P THÔI, KH CĂN ĐƯỢC CẢ KHỐI */
    margin: 18px auto;
    text-align: center;

}
/* content-service */
.content-service{
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}
.content-service__image{
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
.content-service__item{
    margin-left: 130px;
}
.service-item{
    display: flex;
    align-items: center;
    padding: 21px;
    transition: 0.25s;
}
.service-item:hover{
    border-radius: 10px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
/* để khi sờ vào cái item thì cái răng bên trong cũng hover theo thì làm như sau */
.service-item:hover .service-item__icon{
    background-color: var(--color-2);
    color: #fff;
}
.service-item__title{
    color: var(--color-1);
    font-size: 1.8rem;
    font-weight: 600;
}
.service-item__desc{
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
    width: 308px;
}
.service-item__icon{
    margin-right: 19px;
    color: var(--color-1);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #EFF6FD;
    /* để ko bị co lại */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}
.btn-service{
    margin-top: 55px;
}

/* -----WORK.------- */
/* work-top */
.work{
    padding: 100px 0px;
    background: #F6FBFF;
}
.work-head__desc{
    margin-top: 18px;
    width: 468px;
}
/* work-list-item */
.work-list-item{
    padding-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.work-item{
    border-radius: 4px;
    border: 16px #EAF6FF solid;
    transition: 0.25s
}
.work-item:hover{
    border-radius: 4px;
    border: 16px var(--color-2) solid;
    transform: translateY(-16px);
}
.work-item__content{
    margin: 43px 42px;
}
.work-item__heading{
    margin-top: 18px;
    color: var(--color-1);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}
.work-item__desc{
    color: #575F66;
    margin-top: 18px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.work-item__learn-more{
    text-decoration-line: none;
    display: inline-block;
    margin-top: 18px;
    color: var(--color-2);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75
}
/* about */
.about{
    margin: 170px 0px;
    padding-bottom: 121px;
}
.about-content{
    display: flex;
    position: relative;
    align-items: center;
}
.about-media{
    width: 60%;
}
.about-infor{
    width: 40%;
}
.about-media__pic{
    flex-shrink: 0;
    border-radius: 6px;
box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}
.about-media__pic-large{
    width: 512px;
    height: 370px;
    object-fit: cover;
}
.about-media__pic-small{
    width: 332px;
    height: 370px;
    object-fit: cover;
    /* nên dùng absolute để đưa ra khỏi luồng thông thường, cắt đi khoảng trống khi 2 ảnh ở 2 dòng k như mong muốn */
    /* position: relative; */
    position: absolute;
    top: 121px;
    left: 238px;
}
.about-desc{
    margin-top: 18px;
}
.about__btn--learn-more{
    margin-top: 38px;
}
/* our-team */
.our-team{
    margin-bottom: 170px;
}
.our-team-top{
    text-align: center;
}
.our-team__btn{
    display: inline-block;
    margin-top: 38px;
}
.our-team-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 34px;
}
.our-team-item{
    border-radius: 6px;
    background: #EAF6FF;
    margin-top: 70px;
    border: 10px #EAF6FF solid;
    transition: 0.25s;
}
.our-team-item:hover{
    transform: translateY(-16px);
    border: 10px var(--color-2) solid;
}
.our-team-item__pic{
    object-fit: cover;
}
.our-team-item__name{
    color: var(--color-1);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75;
    margin-top: 12px;
}
.our-team-item__hospital{
    color: #575F66;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
}
.btn--next{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-top: 38px;
    color: #575F66;
    border: 1px solid #575F66;
}
.btn--next-left{
    margin-right: 18px;
}
.btn--next:hover{
    color: #FFF;
    background-color: var(--color-2);
}
.our-team-next{
    text-align: center;
}
/* download */
.download{
    margin-bottom: 170px;
}
.download-media{
    position: relative;
}
.download-phone{
    position: absolute;
    left: 70px;
}
.download-phone__image{
    object-fit: cover;
}
.download-empty{
    height: 95px;
}
.download-content{
    height: 427px;
    border-radius: 4px;
    background: #2E80CE;
    display: flex;
    align-items: center;
}
.download-content-block{
    margin-left: 514px;
}
.download-heading{
    color: #FFF;
    width: 489px;
}
.download-desc{
    color: #FFF;
    margin-right: 70px;
    margin-top: 18px;
}
.download-logo{
    margin-top: 38px;
}
.download-logo__android{
    margin-right: 28px;
}
/* event */
.event{
    margin-bottom: 170px;
}
.event-content{
    display: flex;
    align-items: center;
}
.event-header{
    width: 50%;
}
.event-news{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}
.event__read-blog{
    color: var(--color-1);
    font-family: Sora;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.55;
    display: inline-block;
    margin-top: 28px;
}
.event-next{
    /* vì 1 lí do nào đó mà ko đè dc margin mà chỉ cộng dồn dc */
    margin-top: -10px;
}
.even_news__item{
    border-radius: 12px;
    border: 1px solid #E8EBEE;
    transition: 0.25s;
}
.event-news__item:hover{
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}
.event-news__figure{
    overflow: hidden;
    width: 277.5px;
    height: 172px;
    text-align: center;
}
.event-news__img{
    object-fit: cover;
    width: 277.5px;
    height: 172px;
    transition: 0.5s;
}
.event-news__item:hover .event-news__img{
    transform: scale(1.1);
}
.event-news__item-content{
    margin: 24px 22px;
}
.event-news__title{
    color: var(--color-1);
    font-family: Sora;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.62;
}
.event-news__desc{
    color: #575F66;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    margin-top: 10px;
}
.event-news__more{
    display: inline-block;
    color: var(--color-1);
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    margin-top: 12px;
}
.event-news__more:hover{
    color: var(--color-2);
}
/* appointment */
.appointment{
    padding: 100px 178px;
    margin-bottom: 170px;
    background-color: #F6FBFF;
}
.appointment-block{
    text-align: center;
}
.appointment-desc{
    width: 617px;
    margin: 18px auto 0px;
}
.appointment__btn{
    /* vì thẻ a đã set inline-block nên nó xem như nội dung văn bản luôn nên có thể căn giữa khối 
    .appointment-block, nhưng những khối block thì ko thể căn giữa được */
    margin-top: 38px;
    /* đặc biệt rằng khối a inline block kh thể dùng margin: auto, k hiểu tại sao @@ */
}
.appointment-heading::after{
    content: "";
    display: block;
    width: 136px;
    height: 2px;
    background-color: var(--color-2);
    margin: 18px auto 0;
}
